@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B0B0B;
    --foreground: #f8fafc;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}